body {

    margin: 0%;
}

.header {
    height: 99px;
    width: 100%;
    background-color: white;
    display: flex;
}

.first {
    height: 99px;
    width: 50%;
    background-color: white;
    display: flex;
}

.first-img {
    height: 99px;
    width: 50px;
    background-color: white;
    margin-left: 45px;
}

.first-img img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.menu-text {
    width: 48.1px;
    height: 99px;
    background-color: white;
    margin-left: 30px;
}

.menu-text p {
    margin-top: 40px;
}

.rewads-text {
    width: 80.47px;
    height: 99px;
    background-color: b;
    margin-left: 10px;
}

.rewads-text p {
    margin-top: 40px;
}

.gift-text {
    width: 95.15;
    height: 99;
    background-color: white;
    margin-left: 5px;

}

.gift-text p {
    margin-top: 40px;

}

.second {
    height: 99px;
    width: 50%;
    justify-content: end;
    background-color: white;
    display: flex;


}

.loc-icon {
    height: 32px;
    width: 30px;
    background-color: white;
    margin-top: 48px;
    margin-right: 1px;
}

.find {
    width: 125.11px;
    height: 99px;
    background-color: white;
    margin-right: 1px;

}

.find p {
    margin-top: 48px;
}

.sigin {
    width: 80px;
    height: 33px;
    margin-top: 40px;
    border-radius: 15px;
    margin-right: 25px;

}

.join {
    width: 100px;
    height: 33px;
    margin-top: 40px;
    border-radius: 15px;
    margin-right: 25px;
    background-color: black;
    color: white;

}



.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.section {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32462f;

}


.coffee-test {

    color: #fff;
    padding-right: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.oder {
    width: 100px;
    height: 33px;
    border-radius: 50px;
    background-color: #32462f;
    border-color: #fff;
    color: white;


}
.white-space    {
    height: 25px;
    width: 100%;
    background-color:#fff;
}
.first-p{
    width: 50%;
     height: 75vh;
     

}
.first-p img{
    width: 100%;
    height: 100%;

   
}

.second-p{
    width: 50%;
    height: 75vh;
    background-color:#5f4633;
       
    
}
.first-text h2{
   color: #fff;
   font-size: 50px;
   padding-left: 200px;
    
}
.first-text p{
    color: #fff;
    font-size: 30px;
    padding-left: 100px;
   
}
.learn{
     width: 100px;
    height: 33px;
  border-radius: 50px;
  margin-left:250px;
    

}
.white-space    {
    height: 25px;
    width: 100%;
    background-color:#fff;
}
.third-p{
    width: 50%;
    height: 75vh;
    background-color: #32462f;
       
    
}
.second-text h2{
   color: #fff;
   font-size: 50px;
   padding-left: 150px;
   margin-top:150px;

}
.second-text p{
    color: #fff;
    font-size:30px;
    padding-left: 150px;
}

.send-button{
    height:30px;
    border-color: #fff;
    color: #fff;
    background-color: #32462f;
    border-radius:50px;
    margin-left:300px;
}

.forth-p{
    width: 50%;
     height: 75vh;

}
.forth-p img{
    width:100%;
    height: 100%;
}

.fifth-p{
    width: 50%;
    height: 75vh;
}
.fifth-p img{
    width:100%;
    height: 100%;
    

}

 
.sixth-p{
    width: 50%;
    height: 75vh;
    background-color:#006342;
       
}

.third-text h2{
   color: #fff;
   font-size: 50px;
   padding-left:150px;
}
.third-text p{
    color: #fff;
    font-size:30px;
    padding-left: 110px;
}
.enter-button{
    background-color:#fff;
    color:#006342;
    border-radius: 40px;
    border-color: #fff;
    font-size:large;
    margin-left: 300px;
}
.seventh-p{
    width: 50%;
    height: 55vh;
    background-color:#D1D1AA;
       
}
.seventh-p h2{
    color: #32472f;
    margin-left: 200px;
    padding-top: 100px;

}
.seventh-p p{
    width: 50%;
    color: #32472f;
    margin-left:200px;

}
.oder-button{
   color: #32472f;
   background-color: #D1D1AA;
   border-radius:50px;
   margin-left:250px;

}
.eight-p{
    width: 50%;
     height: 55vh;

}
.eight-p img{
    width:100%;
    height: 100%;
}
.ninth-p{
    width: 100%;
    height: 75vh;
    background-color:#fff;
    
}
.text-1 p{
   display: flex;
   justify-content: center;

}
.test-2{
    width:180px;
    height:100%;
    
     gap: 50px;
}
.list{
    display: flex;
    gap: 10px;
}

.test-2 ul{
    list-style: none;
}

.test-3{
    width:180px;
    height:100%;
     gap: 80px;
}

.test-3 ul{
    list-style: none;
}
.test-4{
    width:180px;
    height:100%;
    
     gap: 80px;
}
.test-4 ul{
    list-style: none;
}


.test-5{
    width:180px;
    height:100%;
    
     gap: 80px;
}

.test-5 ul{
    list-style: none;
}
.test-6{
    width:250px;
    height:100%;
    
     gap: 80px;
}

.test-6 ul{
    list-style: none;
}
.test-7{
    width:250px;
    height:100%;
    
     gap: 80px;
}

.test-7 ul{
    list-style: none;
}
.icon{
    width: 100px;
    height: 30px;
    display: flex;
    gap: 10px;
    padding-left: 20px;
}
.icon1 img{
    width: 30px;
    height: 1px;
}